# URL backend local (dev)
PUBLIC_API_BASE_URL_LOCAL=http://localhost:8080

# URL backend deploy (prod)
PUBLIC_API_BASE_URL_PROD=https://api.eel-pm.yourdomain.com

# Google Key
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

PUBLIC_APP_URL=http://localhost:5173
